<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/styles/styles.css">
</head>
<body>

    <div id="page-home">

        <div class="content">

            <header>
                <img src="/public/assets/logo.png" alt="logomarca">
            
            </header>

            <main>
                <h2>Faça seu Logon</h2>

                <input type="text" placeholder="Usuário">
                <input type="text" placeholder="Senha">

                <a href="#"><h5>Esqueci minha senha</h5></a>

                <button>Entrar</button>

                <a href="#"><h5>Não tenho cadastro</h5></a>
           </main>
        
        </div>
   


</div>
</body>
</html>